// Primary Theme Colors
$color-primary: #1d6595;
$color-primary-light: #cfecff;

// Accent Colors
$color-accent: #fe7d1b;
$color-accent-light: #fedec9;

input {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}
